name: React CI

on:
  pull_request:
    branches: [ develop, main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Install dependencies
        run: npm ci
      
      - name: Fix react-scripts permissions
        run: chmod +x node_modules/.bin/react-scripts
  
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: ./frontend
        run: npm install

      - name: Run tests
        working-directory: ./frontend
        env:
          CI: true
        run: npx --yes react-scripts test --watchAll=false --passWithNoTests